In [1]:
import numpy as np

In [2]:
def createdataset():
    data = np.array([[1,101],[5,89],[108,5],[115,8]])
    labels = ['爱情片','爱情片','动作片','动作片']
    return data , labels

In [3]:
data, labels = createdataset()
print(data)
print(labels)

[[  1 101]
 [  5  89]
 [108   5]
 [115   8]]
['爱情片', '爱情片', '动作片', '动作片']

In [20]:
import operator
test = [101,4]
data_row = data.shape[0]
diff = np.tile(test,(data_row,1)) - data
sqdiff = diff**2
sqdistance = sqdiff.sum(axis=1)
distances = np.sqrt(sqdistance)
#返回从小到大排列后的索引值
sortdis = distances.argsort()
classcount = {}
for i in range(3):
    klabel = labels[sortdis[i]]
    classcount[klabel] = classcount.get(klabel,0)+1
sortclasscount = sorted(classcount.items(),key=operator.itemgetter(1),reverse=True)

In [23]:
sortclasscount[0][0]

'动作片'

In [22]:
classcount

{'动作片': 2, '爱情片': 1}

In [2]:
import pandas as pd
df = pd.read_csv('./iris.csv')

In [5]:
df.head(15)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0